<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bike Details | MotoTrack</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

</head>

<body>

    <!-- Navbar -->

    <nav>

        <div class="logo">
            <i class="fa-solid fa-motorcycle"></i>
            MotoTrack
        </div>

        <ul>

            <li><a href="/">Home</a></li>
            <li><a href="/bikes">Bikes</a></li>
            <li><a href="/compare">Compare</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>

        </ul>

    </nav>

    <!-- Bike Details -->

    <section class="features">

        <div class="card">

            <img src="https://images.unsplash.com/photo-1558981806-ec527fa84c39?w=900"
                width="100%">

        </div>

        <div class="card">

            <h1>Royal Enfield Classic 350</h1>

            <br>

            <h3>Price : ₹1.95 Lakh</h3>

            <br>

            <table width="100%">

                <tr>
                    <td>Engine</td>
                    <td>349 CC</td>
                </tr>

                <tr>
                    <td>Mileage</td>
                    <td>35 km/l</td>
                </tr>

                <tr>
                    <td>Top Speed</td>
                    <td>115 km/h</td>
                </tr>

                <tr>
                    <td>Power</td>
                    <td>20.2 BHP</td>
                </tr>

                <tr>
                    <td>Torque</td>
                    <td>27 Nm</td>
                </tr>

                <tr>
                    <td>Fuel Tank</td>
                    <td>13 Litres</td>
                </tr>

                <tr>
                    <td>Weight</td>
                    <td>195 KG</td>
                </tr>

                <tr>
                    <td>Transmission</td>
                    <td>5 Speed Manual</td>
                </tr>

                <tr>
                    <td>ABS</td>
                    <td>Dual Channel</td>
                </tr>

                <tr>
                    <td>Brakes</td>
                    <td>Disc / Disc</td>
                </tr>

            </table>

            <br>

            <h3>Available Colors</h3>

            <p>Black • Red • Blue • Grey</p>

            <br>

            <a href="/compare">
                <button>Compare Bike</button>
            </a>

        </div>

    </section>

    <!-- Footer -->

    <footer>

        <h3>ANKIT SAINI</h3>

        <p>© 2025 MotoTrack. All Rights Reserved.</p>

    </footer>

</body>

</html>

