<section class="search">

    <input type="text"
           id="searchBike"
           placeholder="Search Bike...">

</section>

<section class="features" id="bikeContainer">

    <div class="card">
        <h2>Royal Enfield Classic 350</h2>
        <p>349cc • 35 km/l • ₹1.95 Lakh</p>
        <a href="/bike"><button>View Details</button></a>
    </div>

    <div class="card">
        <h2>Royal Enfield Hunter 350</h2>
        <p>349cc • 36 km/l • ₹1.75 Lakh</p>
        <a href="/bike"><button>View Details</button></a>
    </div>

    <div class="card">
        <h2>KTM Duke 390</h2>
        <p>399cc • 30 km/l • ₹3.10 Lakh</p>
        <a href="/bike"><button>View Details</button></a>
    </div>

    <div class="card">
        <h2>Yamaha R15 V4</h2>
        <p>155cc • 45 km/l • ₹1.85 Lakh</p>
        <a href="/bike"><button>View Details</button></a>
    </div>

    <div class="card">
        <h2>TVS Apache RTR 160</h2>
        <p>160cc • 47 km/l • ₹1.25 Lakh</p>
        <a href="/bike"><button>View Details</button></a>
    </div>

    <div class="card">
        <h2>Bajaj Pulsar NS200</h2>
        <p>199cc • 40 km/l • ₹1.60 Lakh</p>
        <a href="/bike"><button>View Details</button></a>
    </div>

    <div class="card">
        <h2>Honda SP125</h2>
        <p>124cc • 65 km/l • ₹92,000</p>
        <a href="/bike"><button>View Details</button></a>
    </div>

    <div class="card">
        <h2>Hero Xtreme 125R</h2>
        <p>125cc • 60 km/l • ₹99,000</p>
        <a href="/bike"><button>View Details</button></a>
    </div>

    <div class="card">
        <h2>Suzuki Gixxer 250</h2>
        <p>249cc • 38 km/l • ₹2.05 Lakh</p>
        <a href="/bike"><button>View Details</button></a>
    </div>

    <div class="card">
        <h2>Kawasaki Ninja 300</h2>
        <p>296cc • 30 km/l • ₹3.40 Lakh</p>
        <a href="/bike"><button>View Details</button></a>
    </div>

    <div class="card">
        <h2>BMW G310R</h2>
        <p>313cc • 32 km/l • ₹2.90 Lakh</p>
        <a href="/bike"><button>View Details</button></a>
    </div>

    <div class="card">
        <h2>TVS Ronin</h2>
        <p>225cc • 42 km/l • ₹1.50 Lakh</p>
        <a href="/bike"><button>View Details</button></a>
    </div>

</section>
